@tailwind base;
@tailwind components;
@tailwind utilities;



input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid black; 
    cursor: pointer;
    padding: 0;
    width: 24px; /* adjust as needed */
    height: 24px; /* adjust as needed */
    border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}